.right-panel {
  float: left;
  margin-left: 15px
}

@font-face {
  font-family: "Ranga";
  src: url("../fonts/Ranga-Regular.ttf");
}

@font-face {
  font-family: "Ranga Bold";
  src: url("../fonts/Ranga-Bold.ttf");
}

@font-face {
  font-family: "Bangers";
  src: url("../fonts/Bangers-Regular.ttf");
}

@font-face {
  font-family: "Kalam";
  src: url("../fonts/Kalam-Regular.ttf");
}

@font-face {
  font-family: "Architects Daughter";
  src: url("../fonts/ArchitectsDaughter-Regular.ttf");
}
