.right-panel {
  float: left;
  margin-left: 15px
}

@font-face {
  font-family: "Wild Words";
  src: url("../assets/fonts/wildwordsroman.ttf");
}

@font-face {
  font-family: "Manga Temple";
  src: url("../assets/fonts/mangat.ttf");
}

@font-face {
  font-family: "Felt";
  src: url("../assets/fonts/felt.ttf");
}

@font-face {
  font-family: "Augie";
  src: url("../assets/fonts/augie.ttf");
}
