<!-- for preloading fonts -->
<span style="font-family: 'Wild Words'"></span>
<span style="font-family: 'Manga Temple'"></span>
<span style="font-family: 'Felt'"></span>
<span style="font-family: 'Augie'"></span>
<span style="font-family: 'Mufferaw'"></span>
<span style="font-family: 'Janda Manatee'"></span>

<div class="float-left">
  <div>
    <app-export [currentImage]="currentImage" [currentProjectName]="currentProjectName"></app-export>
  </div>
  <div class="form-group btn-group">
    <button (click)="currentTab = 'CANVAS'" class="btn btn-secondary">Canvas</button>
    <button (click)="currentTab = 'PROJECTS'" class="btn btn-secondary">Projects</button>
  </div>
  <div>
    <span class="text-warning" *ngIf="storageService.getHasUnsavedData()">
      Unsaved
    </span>
    <span class="text-success" *ngIf="!storageService.getHasUnsavedData()">
      Saved
    </span>
    <span class="text-danger" *ngIf="storageService.getHasError()">
      Saving error (Not enough space)
    </span>
  </div>
  <app-image-select [height]="MAX_HEIGHT - 240"></app-image-select>
</div>
<div [hidden]="currentTab != 'CANVAS'">
  <app-canvas [maxCanvasWidth]="MAX_WIDTH" [maxCanvasHeight]="MAX_HEIGHT"></app-canvas>
  <div [hidden]="!showRightPanel" class="right-panel">
    <div class="mb-2">
      <button [disabled]="!bubblesService.isDeletedStackNotEmpty()" class="btn btn-default" (click)="bubblesService.undeleteLastBubble()">Undelete</button>
    </div>
    <app-zoom [maxCanvasWidth]="MAX_WIDTH" [maxCanvasHeight]="MAX_HEIGHT"></app-zoom>
    <div [hidden]="!showBubbleDetails" class="mt-3">
      <app-bubble-details></app-bubble-details>
    </div>
  </div>
</div>
<div class="float-left" [hidden]="currentTab != 'PROJECTS'">
  <app-projects></app-projects>
</div>
